<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <appender name="PostgresAppender" type="PatientEmpathy.PostgresAppender, PatientEmpathy">
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="PostgresAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PatientEmpathy-20170505093505.mdf;Initial Catalog=aspnet-PatientEmpathy-20170505093505;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Chache89" connectionString="Server=10.104.10.89; Port=1972; Namespace=PROD-TRAK;Password=sys; User ID=superuser" />
    <add name="Chache112" connectionString="Server=10.104.10.112; Port=1972; Namespace=PROD-TRAK;Password=sys.dev.@dmin; User ID=adminsmit" />
    <add name="svh-sql3" connectionString="Data Source=svh-sql3.samitivej.co.th;Initial Catalog=MEDTRAK_DATA;User Id=osa2;Password=osa2" />
    <add name="PostgreSQL" connectionString="Host=10.105.10.29;Username=postgres;Password=postgres;Database=Empathy;" />
    <add name="postgres" providerName="Npgsql.NpgsqlConnection" connectionString="Server=10.105.10.29;Database=Empathy;User ID=postgres; Password=postgres;" />
    <!--<add name="PostgreSQL" connectionString="Server=10.104.10.27;Port=5432;User Id=postgres;Password=12345;Database=Emp_party;" />-->
    <add name="MySql" connectionString="Server=10.105.10.29;Uid=svhadmin;Pwd=svhadmin.641;Database=svnh_line;Pooling=false;"/>
  </connectionStrings>
  <appSettings>
    <!--call store procedure from postgresql-->
    <add key="GetPatientAll" value="fn_GetHN_PatientAll" />
    <add key="GetFastCheckOut" value="fn_GetHN_FastCheckout" />
    <add key="GetMedDisch" value="fn_GetHN_MED_DC" />
    <add key="GetFinDisc" value="fn_GetHN_FINANCE_DC" />
    <add key="GetDischarge" value="fn_GETHN_FINAL_DC" />
    <add key="GetPatientNoBilled" value="fn_GetHN_NoBilled" />
    <add key="GetPatientSeeDoctor" value="fn_GetHN_PatientSeeDoctor" />
    <add key="GetMedDischForPharCollect" value="fn_GetHN_MED_DC_FOR_PHARCOLLECT" />

    <add key="UpMedDisch" value="fn_UpdateMED_DC" />
    <add key="UpFinDisc" value="fn_UpdateFINANCE_DC" />
    <add key="UpDischarge" value="fn_UpdateFINAL_DC" />
    <add key="UpPromptPay" value="fn_UpdatePromptPay" />
    <add key="UpAllDischJson" value="fn_UpdateFlagStatus" />
    <add key="UpRegisLoc" value="fn_UpdateLocation" />
    <add key="UpNewRegis" value="fn_UpdateNewRegister" />
    <add key="UpSeeToDoctor" value="fn_UpdateSee2Doctor" />
    <add key="UpPatientBilledJson" value="fn_UpdateBillJson" />
    <add key="UpPharCollect" value="fn_UpdatePharCollect" />
    <!--end call store procedure from postgresql-->
    
    
    <!-- call store procedure from mysql-->
    <add key ="GetLineImageByUserId" value="spGetLineImageByUserId"/>
    <!--end call store procedure from mysql-->
    
    <add key="hn" value="hn" />
    <add key="hnlist" value="hnlist" />
    <add key="jsondata" value="jsondata" />
    
    <!--connect cache-->
    <add key="server89" value="10.104.10.89" />
    <add key="port" value="1972" />
    <add key="namespace" value="PROD-TRAK" />
    <add key="username" value="superuser" />
    <add key="password" value="sys" />
    <add key="pooling" value="false" />

    <add key="log4net.Config" value="log4net.simple.config" />

    <!-- Log Empathy -->
    <add key="logEmpathy" value="http://10.105.10.29:1880/Get/SetLogAccess" />
    
    <!-- Update Image Directory -->
    <add key="dirImageHN" value="C:\inetpub\wwwroot\EmpathyImage\HN\" />
    <add key="dirImageMID" value="C:\inetpub\wwwroot\EmpathyImage\MID\" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <!-- Enable Cross Domain AJAX calls -->
        <remove name="Access-Control-Allow-Origin" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>